%section
  %h2
    = @name
  %ul.user_photo_list
    - @bird.each do |post|
      %li.user_photo_list__photo
        %ul
          %li.adjustment
            = link_to post_path(post.id) do
              = image_tag post.photo.url, alt: (post.name)
          %li
            名前:
            %span
              = post.name
          %li
            撮影場所:
            %span
              = post.location
          %li
            撮影日:
            %span
              = post.date
    = paginate(@bird)