%section
  = render 'layouts/search_form', search: @search
  = image_tag (@aaa.photo.url), id: 'a'
  #abc
  #aaaaa
  %script
    function aaB(h, m, sec) {
    var answer = h * 3600 + m * 60 + sec;
    return(answer);
    };
    window.setInterval(function() {
    hyoji1 = new Date();
    hyoji2 = new Date();
    hyoji3 = new Date();
    jikan = hyoji1.getHours();
    fun = hyoji2.getMinutes();
    byo = hyoji3.getSeconds();
    sec1 = aaB(jikan, fun, byo);
    window.document.getElementById("abc").innerHTML = "本日残り" + (86400 - sec1) + "秒";
    }, 1);

    var yatta = function() {
    var anohako = window.document.getElementById("aaaaa");
    anohako.innerHTML = "ここ押して";
    anohako.onclick = function() {
    window.setInterval(function() {
    var aaa = new Date();
    window.document.getElementById("aaaaa").innerHTML = aaa.toLocaleString();
    console.log("aaa");
    }, 1);
    };
    };
    yatta();

    q();
    console.log(q);
    function q() {
    var eee = new Date();
    eee = "フランス表記：" + eee.toLocaleString("fr")
    };
    

    var i = 0;
    var imax = 50;
    /var h = 100;
    var ugoku = function() {
    window.setInterval(function() {
    i += 0.1;
    /h -= 0.02;
    window.document.getElementById( 'a' ).style.top = i + "px";
    /window.document.getElementById("a").style.height = h + "px";
    if (i > 50) {
    console.log(i);
    window.setInterval(function() {
    i -= 0.1;
    window.document.getElementById("a").style.top = i + "px";
    }, 1);
    }
    else {
    window.setInterval(function() {
    i += 0.1;
    window.document.getElementById( 'a' ).style.top = i + "px";
    }, 1);
    };
    }, 1);
    };
    /else {
    //window.setInterval(function() {
    /i -= 0.02;
    /window.document.getElementById("a").style.top = i + "px";
    //}, 1);
    window.document.getElementById('a').onload = ugoku();
  %h2
    鳥の写真一覧
  %ul.photo_list
    - @posts.each do |post|
      %li.photo_list__photo
        %ul
          %li
            = link_to post_path(post.id) do
              = image_tag post.photo.url, alt: (post.name)
          %li
            名前:
            %span
              = post.name
          %li
            撮影場所:
            %span
              = post.location
          %li
            撮影日:
            %span
              = post.date
  = paginate(@posts)