%section
  = render 'layouts/search_form', search: @search
  - if @typed_keyword.present?
    %p
      "
      = @typed_keyword
      "
      の検索結果
    %p
      = @total_amount
      件ヒットしました！
  - elsif @total_amount > 6
    %p
      全ての投稿を
      = @displayed_amount
      件ずつ表示しています。絞り込むにはキーワードを入力！
  - else
    %p
      全ての投稿を表示しています。絞り込むにはキーワードを入力！
  %ul.user_photo_list
    - @search.each do |post|
      %li.user_photo_list__photo
        %ul
          %li.adjustment
            = link_to post_path(post.id) do
              = image_tag post.photo.url, alt: (post.name)
          %li
            名前:
            %span
              = post.name
          %li
            撮影場所:
            %span
              = post.location
          %li
            撮影日:
            %span
              = post.date
    = paginate(@search)