%article
  %section
    %ul.user_photo
      %li
        .user_photo__photo_detail
          = image_tag @post.photo.url
          //%span.photo_details{:style => "background-image: url(#{@post.photo})"}
      %li
        名前: #{@post.name}
      %li
        撮影場所: #{@post.location}
      %li
        撮影日: #{@post.date}
      %li
        撮影者: #{@post.user.nickname}
      - if user_signed_in? && (@post.user.id == current_user.id)
        %li
          = link_to 'この投稿を編集', edit_post_path
        %li
          = link_to 'この投稿を削除', post_path, confirm: "ほんとに良いの？？？？？？？？？？", method: :delete
    = form_with model: @comment, local: true do |f|
      = f.text_field :content, placeholder: 'type a comment'
      = f.submit 'send'