%footer
<<<<<<< Updated upstream
  .to_top
    = image_tag 'to_top_bird_eye_close.png', alt: 'トップへ', id: 'eye_close'
    = image_tag 'to_top_bird_eye_open.png', alt: '移動中', id: 'eye_open'
=======
<<<<<<< Updated upstream
  %nav
    %ul
      = link_to "#header" do
        %li
          ページ上部へ
=======
  .to_top
    = image_tag 'to_top_bird_eye_2.png', alt: 'トップへ', id: 'eye_close'
    = image_tag 'to_top_bird_eye_3.png', alt: '移動中', id: 'eye_open'
>>>>>>> Stashed changes
>>>>>>> Stashed changes
  .copyright
    Copyright 2019 トリーポッ
    %span> ス
    ター