:javascript
  var geocoder;
  var map;
  function postsNew() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(#{@post.map.latitude}, #{@post.map.longitude});
    var mapOptions = {
      zoom: 10,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
  };
  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        document.getElementById('latitude').value = results[0].geometry.location.lat();
        document.getElementById('longitude').value = results[0].geometry.location.lng();
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      };
    });
  };
= form_with model: @post, local: true do |f|
  .object
    .object__property
      = f.file_field :photo, placeholder: '写真'
  .object
    = f.label :name, '種名(亜種名):'
    .object__property
      = f.collection_select :name, BirdList.all, :name, :name, prompt: '--'
  .object
    = f.label :date, '撮影日:'
    .object__property
      = raw sprintf(f.date_select(:date, start_year: (Time.now.year), end_year: (Time.now.year - 100), default: Date.new(Time.now.year), prompt: "--", use_month_numbers: true, date_separator: '%s'),'年 ', '月 ') + '日'
  .object
    = f.label :location, '撮影場所（都道府県）:'
    .object__property
      = f.collection_select :location, Prefecture.all, :name, :name, prompt: '--'
  .object
    = f.label :latitude, '座標を選んでください:'
    .object__property
      .location_selection
        %input#address{type: "textbox", placeholder: '場所などを入力してください（例：京都駅'}/
        %input{onclick: "codeAddress()", type: "button", value: "検索"}/
        = f.fields_for :map do |m| 
          = m.hidden_field :latitude, id: 'latitude'
          = m.hidden_field :longitude, id: 'longitude'
      #map
  .object
    = f.label :description, '備考:'
    .object__property
      = f.text_area :description
  .object
    = f.submit '送信', class: 'object__property__button_for_posting_photo'
- if request.url =~ /\/posts\/new/ || request.url =~ /\/posts\/\d+/
  %script{src: "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.api[:google_maps_api_key]}&callback=postsNew", async: '', defer: 'defer'}