:javascript
  function rightAside() {
    var map = new google.maps.Map(document.getElementById('map_info'), {
      zoom: 4,
      center: {lat: 35.68123620000001, lng: 139.76712480000003}
    });
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var markers = locations.map(function(location, i) {
      return new google.maps.Marker({
        position: location,
        label: labels[i % labels.length]
      });
    });
    var markerCluster = new MarkerClusterer(
      map,
      markers,
      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'}
    );
  };
  var locations = [
    {lat: #{@maps[0].latitude}, lng: #{@maps[0].longitude}},
    {lat: #{@maps[1].latitude}, lng: #{@maps[1].longitude}},
    {lat: #{@maps[2].latitude}, lng: #{@maps[2].longitude}},
    {lat: #{@maps[3].latitude}, lng: #{@maps[3].longitude}},
    {lat: #{@maps[4].latitude}, lng: #{@maps[4].longitude}}
  ];
%aside.right_aside
  - if request.url !~ /\/posts\/new/ && request.url !~ /\/posts\/\d+/
    - if @maps.present?
      %h3
        直近#{@maps.length}件のハトの撮影場所情報
      #map_info
      %ul
        %li
          A:
          = @maps[0].post.name
        %li
          B:
          = @maps[1].post.name
        %li
          C:
          = @maps[2].post.name
        %li
          D:
          = @maps[3].post.name
        %li
          E:
          = @maps[4].post.name
      %script{src: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js'}
      %script{src: "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.api[:google_maps_api_key]}&callback=rightAside", async: '', defer: 'defer'}
    - else
      %p
        地図は投稿が1件以上で表示されます
  - else
    %p
      このページでは地図情報を表示しません